#content {
    padding: 3em 0;
}

#content p {
    margin: 0.5em 0;
}

#content a {
    color: #1b1bff;
}

#content a:hover {
    text-decoration: underline;
}

#content strong {
    font-weight: bold;
}

#content li {
    margin-left: 1.5em;
}

#content table {
    background-color:#91D8FA;
    margin: 1em 0;
}

#content table tr:nth-child(even)
{
    background-color:#C2EAFE;
}

#content table tr td
{
    padding: 0.25em 0.75em;
}

#content .gift_icon {
    width: 64px;
    height: 64px;
}

#content .admin {
    width: 8em;
}

#notes {
    background-color:#E4F4FA;
    font-family: 'Century Gothic', sans-serif;
    margin: 1em 0;
    padding: 0.5em;
    width: 24em;
    height: 6em;
    resize: none;
}

.blue_table a
{
    color: #1b1bff;
    background-color: #E4F4FA;
    border: 1px solid #1b1bff;
    padding: 2px 4px;
}

.blue_table th
{
    padding: 4px 10px;
    background-color:#1b1bff;
    color: #C2EAFE;
    font-weight: bold;
    text-align: left;
}

.blue_table img {
    margin: 0.25em 0 0.75em;
    vertical-align: top;
}

.list_no_bullet
{
    list-style: none;
}

#content .list_no_bullet li {
    margin: 0;
}

.guest_form div
{
    width: 35%;
    margin-bottom: 5px;
}

.guest_form div input
{
    float: right;
}
