#content {
    padding: 3em 0;
}

#content p {
    margin: 0.5em 0;
}

#content a:hover {
    text-decoration: underline;
}

#content strong {
    font-weight: bold;
}

#content li {
    margin-left: 1.5em;
}

.gift_icon {
    vertical-align: top;
    width: 64px;
    height: 64px;
}

/* 
    Created on : Jan 31, 2015, 8:35:31 PM
    Author     : Jeffrey
*/


#group_title
{
    font-size:28px;
    font-weight: 200;
    background-color: #68C6F3;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.blue_table
{
    background-color:#91D8FA;
}

.blue_table tr:nth-child(even)
{
    background-color:#C2EAFE;
}

.blue_table tr td
{
    margin: 5px 20px;
    padding: 4px 20px;
}

.blue_table tr
{
    padding: 4px 10px;
}

.blue_table a
{
    color: #1b1bff;
    background-color: #E4F4FA;
    border: 1px solid #1b1bff;
    padding: 2px 4px;
}

.blue_table th
{
    padding: 4px 10px;
    background-color:#1b1bff;
    color: #C2EAFE;
}

.list_no_bullet
{
    list-style: none;
}

p a
{
    color: #1b1bff;
}

#notes
{
    background-color:#E4F4FA;
    color:#39baf8;
    margin: 10px 0px 25px 0px;
    padding: 10px;
    width: 40%;
}

form div
{
    width: 35%;
    margin-bottom: 5px;
}

form div input
{
    float: right;
}